@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:wght@400;500;600;700&display=swap');

* {
  color: inherit;
  margin: 0;
}

body {
  font-family: Lato;
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

hr {
  border: 0;
  border-top: 1px dotted #efefef;
}

img {
  max-width: 100%;
}

.test {
  color: $primary;
}

.h-secondary {
  text-align: center;
}

.home-bg {
  background-image: url('/images/header_greensziget.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.199);

  h1 {
    padding: 1rem 2rem 2rem 2rem;
    letter-spacing: 4px;
  }

  h2 {
    padding: 2rem 0 0 1rem;
    letter-spacing: 2px;
  }

  p {
    line-height: 150%;
  }
}

.sziget-logo {
  border: 1px solid #000;
  border-radius: 1rem;
}

.h1-about,
.h4-about {
  text-align: center;
}

.contact-info {
  font-size: 0.8rem;
  text-align: center;
  border: 1px solid white;
  border-radius: 1rem;

  a {
    text-decoration: underline;
  }
}

.past-fests,
.partners {
  h2 {
    text-align: center;
  }

  p {
    text-align: center;
  }
}

.pf-2019,
.pf-2018,
.pf-2017,
.pf-2016 {
  background-size: cover;
  background-repeat: no-repeat;
  padding: 5rem;
  font-size: 6rem;
  color: white;
  margin-bottom: 2rem;
}

.past-h:hover {
  filter: grayscale(100%);
}

.pf-2019 {
  background-image: url('/images/2019-past.jpg');
}

.pf-2018 {
  background-image: url('/images/2018-past.jpg');
}

.pf-2017 {
  background-image: url('/images/2017-past.jpg');
}

.pf-2016 {
  background-image: url('/images/2016-past.jpg');
}

.container-logos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.logos {
  padding: 1rem;
}

.footer {
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 1rem;
}

.footer-img {
  max-height: 2rem;
}
