@use 'sass:math';

.card {
  display: flex;
  padding: $base-padding;
  border: 1px solid rgb(255, 255, 255);
  border-radius: math.div($base-border-radius, 4);
  column-gap: 10px;

  .card-title {
    font-size: $base-font-size;
    padding-bottom: $base-padding;
    font-weight: bold;
  }
  .card-body {
    font-size: $base-font-size;
    ;

    a {
      text-decoration: underline;
    }
  }
}

.card-b {
  display: block;
  padding: $base-padding;
  margin: 0.5rem;
  border: 1px solid black;
  
  .card-title {
    font-size: $base-font-size;
    padding-bottom: 0.5rem;
    font-weight: bold;
  }
}

.card-c {
  display: flex;
  padding: $base-padding;
  column-gap: 10px;
  margin: 0;
  
  .card-body {
    font-size: 0.75rem;
  }

  .card-title {
    font-size: $base-font-size;
    padding-bottom: $base-padding;
    font-weight: bold;
  }
}

.card-img {
  max-height: 104px;
  max-width: 104px;
  align-self: center;
}